body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
  background-color: #444;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}
code {
  font-family: monospace;
}
@media (max-width: 911px) {
  body {
    background-size: 150%;
    background-position: center;
    background-position-y: 10vh;
  }
}
